:root{
    --randColor: ;
    --randColorOpacity: ;
}

body{
    margin: 0;
}

.widget{
    position: absolute;
    z-index: 2;
}

.widgetAnimation{
    padding: 25px;
    border-radius: 25px;
}

.draggable{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--randColor);
    filter: brightness(70%);
}

.scrollbar-cut-corner{
    overflow: hidden;
    border: 2px solid var(--randColor);
    border-radius: 15px; 
}

.btn-match{
    padding: 8px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: var(--randColor);
    &:hover{
        cursor: pointer;
        background-color: rgba(var(--randColorOpacity), 0.8);
    }
    &:active{
        transform: scale(0.98);
    }
}

.btn-word-match{
    border: none;
    color: var(--randColor);
    background-color: white;
    &:hover{
        cursor: pointer;
        color: rgba(var(--randColorOpacity), 0.6);
    }
    &:active{
        transform: scale(0.95);
    }
}

.select-match{
    cursor: pointer;
    color: var(--randColor);
    border: 1px solid var(--randColor);
    border-radius: 6px;
    :checked{
        background-color: rgba(var(--randColorOpacity), 0.3);
    }
}

#App{
    position: relative;
    font-family: 'Tahoma', sans-serif;
    background-color: var(--randColor);
    font-size: calc(10px + 2vmin);
    color: var(--randColor);
    overflow: hidden;
}

#Widget-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#settings-box{
    z-index: 3;
    top: 20px;
    right: 20px;
    #draggable-settings-box{
        visibility: hidden;
    }
    #animation-settings-box{
        background-color: white;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 5px;
    }
}

#quote-box{
    max-width: 800px;
    top: 20px;
    left: 20px;
    #draggable-quote-box{
        visibility: hidden;
    }
    #animation-quote-box{
        background-color: white;
        padding: 5px 30px 25px;
    }
    #large-quote{
        font-size: calc(30px + 2vmin);
        font-weight: bold;
        margin: 0px 10px;
    }
    #rand-quote{
        padding-top: 10px;
    }
    #author{
        font-size: calc(8px + 1vmin);
        text-align: right;
        font-style: italic;
        margin-right: 30px;
    }
    #btn-left{
        display: inline-flex;
        margin-left: 25px;
        gap: 10px;
    }
    #tweet-quote{
        display: inline-flex;
    }
    #new-quote{
        margin-right: 25px;
    }
    #btn-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #text{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
}

#translator-box{
    top: 370px;
    left: 20px;
    font-size: 18px;
    #draggable-translator-box{
        visibility: hidden;
    }
    #animation-translator-box{
        background-color: white;
    }
    #translator-btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 10px;
        #translate-btn-switch{
            border: none;
            background-color: white;
            color: var(--randColor);
            &:hover{
                cursor: pointer;
                color: rgba(var(--randColorOpacity), 0.8);
            }
        }
    }
    #translator-textarea{
        width: 406px;
        height: 80px;
        font-size: 18px;
        border: none;
        resize: none;
        outline: none;
        text-align: center;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #translator-preview-cut-corner{
        margin-top: 15px;
        #translator-preview{
            word-wrap: break-word;
            width: 400px;
            height: 150px;
            margin: 0;
            padding: 5px;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }
}

#calculator-box{
    top: 370px;
    left: 505px;
    font-size: 18px;
    button{
        width: 40px;
        height: 30px;
    }
    #draggable-calculator-box{
        visibility: hidden;
    }
    #animation-calculator-box{
        background-color: white;
    }
    #calculator-display-container{
        display: flex;
        flex-direction: column;
        width: 170px;
        margin: 10px 0px;
        input{
            text-align: right;
            border: none;
            padding: 0px;
        }
        #calculator-input-display{
            margin: 0px 2px 5px 0px;
            font-size: 12px;
            color: var(--randColor);
        }
        #calculator-input{
            font-size: 29px;
            font-weight: bold;
        }
    }
    #calculator-memory-container{
        display: flex;
        flex-direction: row;
        padding: 0px 0px 5px 0px;
        button{
            font-size: 12px;
            width: 100%;
            height: 100%;
        }
    }
    #calculator-btn-container{
        display: grid;
        grid-template-columns: repeat(4, calc(30px + 1vh));
        gap: 5px;
        #calculator-btn-memory-display{
            visibility: hidden;
            position: absolute;
            top: 34%;
            left: 0%;
            width: 100%;
            height: 66%;
            background-color: white;
            border-radius: 0px 0px 25px 25px;
            #calculator-btn-memory-container{
                display: flex;
                flex-direction: column;
                width: 90%;
                height: 70%;
                margin: 20px 5px 20px 15px;
                overflow-y: scroll;
                overflow-x: hidden;
                p{
                    margin: 0px 5px 10px;
                    text-align: right;
                    word-wrap: break-word;
                }
            }
            #calculator-btn-memory-display-close{
                position: absolute;
                top: -52%;
                left: 0%;
                width: 100%;
                height: 52%;
                border: none;
                border-radius: 25px 25px 0px 0px;
                background-color: rgba(0, 0, 0, 0.2);
                cursor: pointer;
            }
            #calculator-btn-trash{
                position: absolute;
                bottom: 10px;
                right: 5px;
                background-color: transparent;
            }
        }
        #calculator-btn-delete{
            #calculator-btn-delete-icon{
                pointer-events: none;
            }
            #calculator-btn-negate-icon{
                pointer-events: none;
            }
        }
    }
}

////////////////////////////
/// Widget SCSS Template ///
////////////////////////////
/*
#[]-box{
    #draggable-[]-box{
        visibility: hidden;
    }
    #animation-[]-box{
        background-color: white;
    }
}
*/

@keyframes fadeIn{
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes spin{
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(720deg);}
}

@keyframes flip{
	0%{
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40%{
		transform: perspective(400px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50%{
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80%{
		transform: perspective(400px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100%{
		transform: perspective(400px) scale(1);
		animation-timing-function: ease-in;
	}
}

@keyframes hinge{
    0%   {transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out;}  
    20%, 60% {transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out;}  
    40%  {transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out;} 
    80%  {transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out;} 
    100% {transform: translateY(700px); opacity: 0; }
}