/*
z-index guide
0: 
1: 
2: DEFAULT
3: Popout
4: Setting Widget
5: Widget when dragging
6: Drag icon
*/

:root{
    --randColor: ;
    --randColorOpacity: ;
}

body{
    margin: 0;
}

/// Fonts
.font-small-bold-transparent{
    font-size: 12px;
    font-weight: bold;
    color: rgba(var(--randColorOpacity), 0.4);
}

.font-small-light-transparent{
    font-size: 12px;
    font-weight: light;
    color: rgba(var(--randColorOpacity), 0.4);
}

.large-quote{
    font-size: calc(30px + 2vmin);
    font-weight: bold;
    margin: 0px 10px;
}

/// Design
.widget{
    z-index: 2;
    position: absolute;
}

.widget-animation{
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    border: 2px solid var(--randColor);
}

.draggable{
    z-index: 6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--randColor);
    filter: brightness(70%);
}

.scrollbar-cut-corner{
    overflow: hidden;
    border: 2px solid var(--randColor);
    border-radius: 15px; 
}

.scrollbar-cut-corner-textarea{
    width: 406px;
    height: 80px;
    font-size: 18px;
    border: none;
    resize: none;
    outline: none;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scrollbar-cut-corner-p{
    word-wrap: break-word;
    width: 400px;
    height: 150px;
    margin: 0;
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.btn-match{
    padding: 8px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: var(--randColor);
    &:hover{
        cursor: pointer;
        background-color: rgba(var(--randColorOpacity), 0.8);
    }
    &:active{
        transform: scale(0.98);
    }
}

.btn-match-inverse{
    border: none;
    background-color: white;
    color: var(--randColor);
    &:hover{
        cursor: pointer;
        color: rgba(var(--randColorOpacity), 0.8);
    }
    &:active{
        transform: scale(0.95);
    }
}

.btn-match-option{
    padding: 3px 7px;
    border: none;
    border-radius: 7px;
    color: white;
    background-color: var(--randColor);
    font-size: 12px;
    &:hover{
        cursor: pointer;
        background-color: rgba(var(--randColorOpacity), 0.8);
    }
    &:active{
        transform: scale(0.98);
    }
    &.long{
        width: 235px;
    }
    &.medium{
        width: 115px;
    }
    &.small{
        width: 75px;
    }
}

.select-match{
    cursor: pointer;
    color: var(--randColor);
    border: 1px solid var(--randColor);
    border-radius: 6px;
    :checked{
        background-color: rgba(var(--randColorOpacity), 0.3);
    }
}

.author{
    font-size: calc(8px + 1vmin);
    text-align: right;
    font-style: italic;
    margin-right: 30px;
}

.btn-ends{
    display: flex;
    justify-content: space-between;
    margin: 0px 25px;
}

.link{
    display: inline-flex;
}

.select-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.popout{
    z-index: 3;
    visibility: hidden;
    position: absolute;
    background-color: white;
    font-size: 12px;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px var(--randColor);
}

.pointer-events-none{
    pointer-events: none;
}

.input-typable{
    border: 2px solid var(--randColor);
    border-radius: 6px;
    margin: 4px;
    &:focus{
        outline: none;
    }
}

.input-typable-with-help{
    border: 2px solid var(--randColor);
    border-right: none;
    border-radius: 6px 0px 0px 6px;
    &:focus{
        outline: none;
    }
}

.help-with-input-typable{
    background-color: white;
    border: 2px solid var(--randColor);
    border-left: none;
    border-radius: 0px 6px 6px 0px;
    cursor: pointer;
}

.option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 5px;
}

.option-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.space-nicely-top{
    margin: 15px 0px 5px;
}

.space-nicely-all{
    margin: 10px;
}

.disabled-option{
    opacity: 0.5;
}

/// IDs
#App{
    position: relative;
    font-family: 'Tahoma', sans-serif;
    background-color: var(--randColor);
    font-size: calc(10px + 2vmin);
    color: var(--randColor);
    overflow: hidden;
}

#widget-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#settings-box{
    z-index: 4;
    #settings-box-draggable{
        visibility: hidden;
    }
    #settings-box-animation{
        height: 45px;
        width: 220px;
        #show-hide-widgets-popout{
            padding: 10px;
        }
    }
}

#quote-box{
    max-width: 800px;
    text-align: center;
    #quote-box-draggable{
        visibility: hidden;
    }
    #quote-box-animation{
        padding: 5px 30px 25px;
    }
    #quote{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        #quote-text{
            padding-top: 10px;
        }
    }
}

#translator-box{
    font-size: 18px;
    #translator-box-draggable{
        visibility: hidden;
    }
    #translator-box-animation{
        #replace-popout{
            visibility: hidden;
            height: 120px;
            width: 280px;
            input{
                height: 18px;
                width: 100px;
            }
        }
        #reverse-popout{
            visibility: hidden;
            height: 80px;
            width: 280px;
        }
        #case-transform-popout{
            visibility: hidden;
        }
    }
    #translator-preview-cut-corner{
        margin-top: 15px;
    }
}

#google-translator-box{
    font-size: 18px;
    #google-translator-box-draggable{
        visibility: hidden;
    }
    #google-translator-preview-cut-corner{
        margin-top: 15px;
    }
}

#calculator-box{
    font-size: 18px;
    button{
        width: 40px;
        height: 30px;
    }
    #calculator-box-draggable{
        visibility: hidden;
    }
    #calculator-display-container{
        display: flex;
        flex-direction: column;
        width: 170px;
        margin: 10px 0px;
        input{
            text-align: right;
            border: none;
            padding: 0px;
        }
        #calculator-input-display{
            margin: 0px 2px 5px 0px;
            font-size: 12px;
            color: var(--randColor);
        }
        #calculator-input{
            font-size: 29px;
            font-weight: bold;
        }
    }
    #calculator-memory-container{
        display: flex;
        flex-direction: row;
        padding: 0px 0px 5px 0px;
        button{
            font-size: 12px;
            width: 100%;
            height: 100%;
        }
    }
    #calculator-btn-container{
        display: grid;
        grid-template-columns: repeat(4, calc(30px + 1vh));
        gap: 5px;
        #calculator-btn-memory-display{
            visibility: hidden;
            position: absolute;
            top: 34%;
            left: 1%;
            width: 223px;
            height: 230px;
            background-color: white;
            border-radius: 0px 0px 25px 25px;
            #calculator-btn-memory-container{
                display: flex;
                flex-direction: column;
                width: 90%;
                height: 70%;
                margin: 20px 5px 20px 15px;
                overflow-y: scroll;
                overflow-x: hidden;
                p{
                    margin: 0px 5px 10px;
                    text-align: right;
                    word-wrap: break-word;
                }
            }
            #calculator-btn-memory-display-close{
                position: absolute;
                top: -52%;
                left: 0%;
                width: 100%;
                height: 52%;
                border: none;
                border-radius: 25px 25px 0px 0px;
                background-color: rgba(0, 0, 0, 0.2);
                cursor: pointer;
            }
            #calculator-btn-trash{
                position: absolute;
                bottom: 10px;
                right: 5px;
                background-color: transparent;
            }
        }
    }
}

#weather-box{
    #weather-box-draggable{
        visibility: hidden;
    }
    #weather-box-animation{
        #weather-search-container{
            display: flex;
            flex-direction: row;
            gap: 5px;
            height: 35px;
            width: 300px;
            margin-bottom: 5px;
            #weather-search-input-container{
                display: inline-flex;
                #weather-search{
                    height: 25px;
                    width: 210px;
                }
                #weather-search-help-button{
                    height: 31px;
                }
            }
            #weather-search-help-container{
                height: 180px;
                width: 285px;            
            }
            #weather-search-btn-update{
                height: 31px;
            }
        }
        #weather-info-container{
            display: flex;
            flex-direction: column;
            height: 200px;
            width: 300px;
            border: 2px solid var(--randColor);
            border-radius: 8px;
            font-size: 18px;
            margin: 15px 0px 0px;
            #weather-info-icon-temp{
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 30px;
                font-weight: bold;
                #weather-info-temp-c-container{
                    display: flex;
                    flex-direction: column;
                    margin-right: 30px;
                }
                #weather-info-temp-f-container{
                    display: flex;
                    flex-direction: column;
                }
            }
            #weather-info-cond-local-time{
                display: flex;
                flex-direction: row;
                gap: 29px;
                margin: 0px 12px;
            }
            #weather-info-wind{
                display: flex;
                flex-direction: row;
                gap: 40px;
                margin: 10px 12px 0px;
            }
            #weather-info-location{
                position: absolute;
                bottom: 30px;
                right: 30px;
                font-size: 14px;
            }
        }
        #weather-last-updated{
            position: absolute;
            bottom: 8px;
            left: 30px;
            font-size: 14px;
        }
    }
}

////////////////////////////
/// Widget SCSS Template ///
////////////////////////////
/*
#[]-box{
    #draggable-[]-box{
        visibility: hidden;
    }
    #animation-[]-box{
        background-color: white;
    }
}
*/

@keyframes fadeIn{
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes spin{
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(720deg);}
}

@keyframes flip{
	0%{
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40%{
		transform: perspective(400px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50%{
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80%{
		transform: perspective(400px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100%{
		transform: perspective(400px) scale(1);
		animation-timing-function: ease-in;
	}
}

@keyframes hinge{
    0%   {transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out;}  
    20%, 60% {transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out;}  
    40%  {transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out;} 
    80%  {transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out;} 
    100% {transform: translateY(700px); opacity: 0; }
}