/*
z-index guide
0: 
1: 
2: DEFAULT
3: Popout
4: Setting Widget
5: Widget when dragging
6: Drag icon
*/

:root{
    --randColor: ;
    --randColorLight: ;
    --randColorOpacity: ;
}

body{
    margin: 0rem;
}


//////////////////// Class: Fonts ////////////////////
.font{
    color: var(--randColor);
    &.large{
        font-size: 1.75em;
    }
    &.large-medium{
        font-size: 1.31em;
    }
    &.medium{
        font-size: 1.17em;
    }
    &.small{
        font-size: 0.8em;
    }
    &.smaller{
        font-size: 0.7em;
    }
    &.normal{
        font-weight: normal;
    }
    &.bold{
        font-weight: bold;
    }
    &.normal-transparent{
        font-weight: normal;
        color: rgba(var(--randColorOpacity), 0.4);    
    }
    &.bold-transparent{
        font-weight: bold;
        color: rgba(var(--randColorOpacity), 0.4);
    }
    &.no-color{
        color: white;
    }
    &.break-word{
        word-break: break-all;
    }
}

.font-quote{
    margin: 0rem 0.6rem;
    font-weight: bold;
    color: var(--randColor);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &.large{
        font-size: 3.5em;
    }
}

.font-author{
    font-size: 0.9em;
    text-align: right;
    font-style: italic;
    margin: 0.6rem 1.85rem 0.94rem 0rem;
    color: var(--randColor);
}


//////////////////// Class: Design ////////////////////
.widget{
    z-index: 2;
    position: absolute;
}

.widget-animation{
    background-color: white;
    padding: 1.6rem;
    border-radius: 25.4px;
    border: 1px solid var(--randColor);
}

.draggable{
    z-index: 6;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--randColor);
    filter: brightness(70%);
}

.toggleable{
    vertical-align: middle;
}

.slider{
    vertical-align: middle;
}

.cut-scrollbar-corner-part-1{
    max-width: 23.2em;
    overflow: hidden;
    border: 1px solid var(--randColor);
    border-radius: 15px;
    &.textarea{
        height: 4.8em;
    }
    &.p{
        height: 8.5em;
    }
}

.cut-scrollbar-corner-part-2{
    max-width: 30.1em;
    padding: 0rem;
    margin: 0rem;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 0.948em;
    &.textarea{
        height: 6.3em;
        max-width: 30.1em;
        width: calc(100vmin - 4.05em);
        border: none;
        resize: none;
        outline: none;
    }
    &.p{
        height: 9em;
        max-width: 24.5em;
        width: calc(100vmin - 4.05em);
        word-wrap: break-word;
        &.short{
            height: 6.5em;
            width: unset;
        }
    }
}

/// Matches the color to the corresponding element
.btn-match{
    padding: 0.47rem;
    border: none;
    border-radius: 9px;
    color: white;
    background-color: var(--randColor);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover{
        cursor: pointer;
        background-color: rgba(var(--randColorOpacity), 0.8);
    }
    &:active{
        transform: scale(0.98);
    }
    &.option{
        padding: 0.2rem 0.4rem;
        border-radius: 6.6px;
        font-size: 0.76em;
        &.opt-long{
            max-width: 25em;
            min-width: 5em;
            width: calc(100vmin - 4em);
        }
        &.opt-medium{
            max-width: 12.3em;
            min-width: 3.7em;
            width: calc(100vmin - 14em);
        }
        &.opt-small{
            width: 8em;
        }
    }
    &.inverse{
        color: var(--randColor);
        background-color: transparent;
        padding: 0rem 0.35rem;
        &:hover{
            color: rgba(var(--randColorOpacity), 0.8);
            background-color: unset;
        }
        &:active{
            transform: scale(0.93);
        }
        &.inv-small{
            font-size: 0.95em;
        }
    }
    &.fadded{
        color: rgba(var(--randColorOpacity), 0.08);
        background-color: rgba(var(--randColorOpacity), 0.08);
        &:hover{
            color: white;
            background-color: rgba(var(--randColorOpacity), 0.5);
        }
        &.inverse{
            color: rgba(var(--randColorOpacity), 0.2);
            background-color: unset;
            &:hover{
                color: rgba(var(--randColorOpacity), 0.5);
                background-color: unset;
            }
        }
    }
}

.select-match{
    cursor: pointer;
    color: var(--randColor);
    border: 1px solid var(--randColor);
    border-radius: 5.6px;
    font-size: 0.75em;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 0.05rem 1.12rem 0.05rem 0.3rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    :checked{
        background-color: rgba(var(--randColorOpacity), 0.3);
    }
    &:disabled{
        opacity: 0.3;
    }
    &.dropdown-arrow{
        background-image: url("../public/images/downArrow.svg");
        background-repeat: no-repeat;
        background-position: right 0.3em top 0.12em;
        background-size: 1em 1.1em;
        fill: red;
    }
}

/// Space between 2 elements | []-----[]
.element-ends{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.when-elements-are-not-straight{
    display: inline-flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    &.only-align-items{
        justify-content: unset;
    }
    &.only-justify-content{
        align-items: unset;
    }
    &.only-flex{
        justify-content: unset;
        align-items: unset;
    }
    &.row{
        flex-direction: row;
    }
    &.column{
        flex-direction: column;
    }
    &.gap{
        gap: 0.3em;
    }
}

.popout{
    z-index: 3;
    visibility: hidden;
    position: absolute;
    background-color: white;
    font-size: 0.76em;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0em 0em 0.6em 0.05em var(--randColor);
    max-width: 100vmin;
}

.pointer-events-none{
    pointer-events: none;
}

.input-typable{
    width: 10rem;
    border: 1px solid var(--randColor);
    &:focus{
        outline: none;
    }
    &::placeholder{
        color: var(--randColor);
    }
    &.no-side{
        border: none;
        text-align: right;
        padding: 0;
    }
    &.all-side{
        border-radius: 5.6px;
        margin: 0.2em;
        &.input-button-input{
            font-size: 0.8em;
            width: 13.8em;
            padding: 0.15rem 0.15rem;
        }
    }
    &.right-side{
        padding: 0.05rem 0.15rem;
        border-right: none;
        border-radius: 5.6px 0px 0px 5.6px;
        &.with-help-btn{
            height: 2.05em;
            max-width: 15.5em;
            width: 100vmin;
        }
    }
}

.help-btn{
    height: 2.3em;
    max-width: 2.1em;
    width: 100vmin;
    padding: 0.35rem;
    background-color: white;
    border: 1px solid var(--randColor);
    align-items: center;
    cursor: pointer;
    &.left-side{
        border-left: none;
        border-radius: 0px 5.6px 5.6px 0px;    
    }
}

.grid{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    &.col-2{
        &.spread-short{
            grid-template-columns: repeat(2, 2.225em);
        }
        &.spread-long{
            grid-template-columns: repeat(2, 9.38em);
        }
    }
    &.col-3{
        grid-template-columns: repeat(3, 2.225em);
    }
    &.col-4{
        grid-template-columns: repeat(4, 2.225em);
    }
}

.space-nicely{
    &.top{
        margin: 0.9rem 0rem 0.3rem;
        &.medium{
            margin-top: 0.5rem;
        }
    }
    &.right{
        &.short{
            margin-right: 0.15rem;
        }
    }
    &.bottom{
        margin-bottom: 0.6rem;
        &.short{
            margin-bottom: 0.25rem;
        }
    }
    &.left{
        margin-left: 1.5rem;
        &.short{
            margin-left: 0.15rem;
        }
    }
    &.all{
        margin: 0.6rem;
        &.long{
            margin: 1rem;
        }
    }
}

.disabled-option{
    opacity: 0.5;
}

.doesnt-work{
    background-color: rgb(255, 0, 0);
    &:hover{
        cursor: not-allowed;
        background-color: rgb(255, 0, 0);
    }
    &:active{
        transform: none;
    }
}

.no-highlight{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section-group{
    max-width: 10em;
    width: 100vmin;
    background-color: rgba(var(--randColorOpacity), 0.15);
    border-radius: 20px;
    padding: 1rem;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.grid-cell{
    box-sizing: border-box;
    &--food{
        background-color: red;
    }
    &--snake{
        background-color: var(--randColor);
    }
}

.react-tabs{
    @extend .no-highlight;
    &__tab-list{
        border-bottom: 1px solid var(--randColor);
        margin: 0 0 10px;
        padding: 0;
    }
    &__tab{
        display: inline-block;
        border: 1px solid transparent;
        border-bottom: none;
        bottom: -1px;
        position: relative;
        list-style: none;
        padding: 6px 12px;
        cursor: pointer;
        color: rgba(var(--randColorOpacity), 0.4);
        &--selected{
            background: #fff;
            border-color: var(--randColor);
            color: var(--randColor);
            border-radius: 10px 10px 0 0;
        }
        &--disabled{
            color: GrayText;
            cursor: default;
        }
        &:focus{
            outline: none;
        }
        &:after{
            content: "";
            position: absolute;
            height: 5px;
            left: -4px;
            right: -4px;
            bottom: -5px;
            background: #fff;
        }
    }
    &__tab-panel{
        display: none;
        &--selected{
            display: block;
        }
    }
}

/// Floating positions for elements
.bottom-left{
    position: absolute;
    top: 21em;
    left: 3em;
}

.bottom-right{
    position: absolute;
    top: 20.2em;
    right: 3.7em;
}

/// Bar on top of widget
.hotbar{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: -1.2em;
    right: 1.2em;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px 6px 0px 0px;
    height: 1.2em;
}

/// Maximize widget with a little of leeway
.fullscreen{
    top: 1.4em;
    left: 0.8em;
    min-height: calc(100vh - 2.2em);
    max-height: calc(100vh - 2.2em);
    min-width: calc(100vw - 1.3em);
    max-width: calc(100vw - 1.3em);
}

.fullscreen-animation{
    min-height: calc(100vh - 5.2em);
    max-height: calc(100vh - 5.2em);
}


//////////////////// IDs ////////////////////
#App{
    position: relative;
    font-family: 'Tahoma', sans-serif;
    background-color: var(--randColor);
    overflow: hidden;
}

#widget-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


//////////////////// IDs: Widget Games ////////////////////
#snake-widget{
    max-width: 100%;
    #snake-widget-animation{
        padding: 1.6rem 2rem 2rem 1.6rem;
        #snake-display{
            max-width: 100%;
            position: relative;
            &:focus{
                outline: none;
            }
            #snake-display-grid{
                max-width: 100%;
                box-sizing: content-box;
                border: 4px solid var(--randColor);
                display: flex;
                flex-wrap: wrap;
            }
            #snake-overlay{
                margin: 0.25rem;
            }
            #snake-popout-settings{
                padding: 0.4rem;
            }
        }
    }
}


//////////////////// IDs: Widget Utility ////////////////////
#settings-widget{
    z-index: 4;
    max-width: 100vmin;
    max-height: 26.46em;
    #settings-widget-animation{
        #show-hide-widgets-popout{
            padding: 0.6rem;
            #show-hide-widgets-popout-search{
                width: 8em;
                margin: 0.2rem 0.6rem 0rem;
                float: right;
            }
        }
        #settings-popout{
            padding: 0.4rem;
            select{
                width: 13em;
            }
        }
    }
}

#quote-widget{
    max-width: 50em;
    max-height: 26.46em;
    #quote-widget-animation{
        padding: 0.3rem 1.9rem 1.58rem;
        text-align: center;
    }
    #quote-container{
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        #quote-text{
            padding-top: 0.6rem;
        }
    }
}

#translator-widget{
    font-size: 1.11em;
    max-width: 26.24em;
    width: 100vmin;
    #translator-preview-cut-corner{
        margin-top: 0.9rem;
    }
}

#googletranslator-widget{
    font-size: 1.11em;
    max-width: 26.24em;
    width: 100vmin;
    #googletranslator-preview-cut-corner{
        margin-top: 0.9rem;
    }
}

#calculator-widget{
    font-size: 1.11em;
    #calculator-display-container{
        margin: 0rem 0rem 0.3rem;
    }
    #calculator-btn-memory-display{
        visibility: hidden;
        position: absolute;
        top: 34%;
        left: 1%;
        width: 12.5em;
        height: 12.7em;
        background-color: white;
        border-radius: 0px 0px 23px 23px;
        #calculator-btn-memory-container{
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 70%;
            margin: 1.23rem 0.3rem 1.23rem 0.9rem;
            overflow-y: scroll;
            overflow-x: hidden;
            p{
                margin: 0rem 0.3rem 0.6rem;
                text-align: right;
                word-wrap: break-word;
            }
        }
        #calculator-btn-memory-display-close{
            position: absolute;
            top: -54.4%;
            left: -0.5%;
            width: 16.74em;
            height: 55%;
            border: none;
            border-radius: 23px 23px 0px 0px;
            background-color: rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
        #calculator-btn-trash{
            position: absolute;
            bottom: 0.7em;
            right: 0.3em;
            background-color: transparent;
        }
    }
    #calculator-input-expand-popout{
        height: 10em;
        width: 10em;
    }
}

#weather-widget{
    max-width: 22.1em;
    width: 100vh;
    #weather-search-help-container{
        padding: 0.5em 0em 1em;
        ul{
            height: 12.64em;
            width: 18em;    
            margin: .7rem 2.35rem;
            padding: 0rem;
        }
    }
    #weather-info-container{
        max-height: 12.47em;
        height: 100vmin;
        border: 1px solid var(--randColor);
        border-radius: 7.5px;
        margin: 0.9rem 0rem 0rem;
        #weather-info-icon-temp{
            display: flex;
            flex-direction: row;
            align-items: center;
            #weather-info-temp-c-container{
                display: flex;
                flex-direction: column;
                margin-right: 1.9rem;
            }
            #weather-info-temp-f-container{
                display: flex;
                flex-direction: column;
            }
        }
        #weather-info-cond-local-time{
            display: flex;
            flex-direction: row;
            gap: 1.8em;
            margin: 0rem 0.76rem;
        }
        #weather-info-wind{
            display: flex;
            flex-direction: row;
            gap: 2em;
            margin: 0.6rem 0.76rem 0rem;
        }
        #weather-info-location{
            width: 18.23em;
            position: absolute;
            bottom: 2.4em;
            right: 2.4em;
            word-wrap: break-word;
            text-align: right;
        }
    }
    #weather-last-updated{
        position: absolute;
        bottom: 0.7em;
        left: 2.4em;
    }
}


//////////////////// Animations: Widgets ////////////////////
@keyframes fadeIn{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut{
    0%   { opacity: 1;
           visibility: visible; }
    100% { opacity: 0; }
}


//////////////////// Animations: Do a trick! ////////////////////
@keyframes spin{
    0%   { transform: rotate(0deg);   }
    100% { transform: rotate(720deg); }
}

@keyframes flip{
	0%   { transform: perspective(400px) rotateY(0);
		   animation-timing-function: ease-out; }
	40%  { transform: perspective(400px) translateZ(150px) rotateY(170deg);
		   animation-timing-function: ease-out; }
	50%  { transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		   animation-timing-function: ease-in;  }
	80%  { transform: perspective(400px) rotateY(360deg) scale(.95);
		   animation-timing-function: ease-in;  }
	100% { transform: perspective(400px) scale(1);
		   animation-timing-function: ease-in;  }
}

@keyframes hinge{
    0%   { transform: rotate(0);
           transform-origin: top left;
           animation-timing-function: ease-in-out; }  
    20%,
    60%  { transform: rotate(80deg);
           transform-origin: top left;
           animation-timing-function: ease-in-out; }  
    40%  { transform: rotate(60deg);
           transform-origin: top left;
           animation-timing-function: ease-in-out; } 
    80%  { transform: rotate(60deg) translateY(0);
           opacity: 1;
           transform-origin: top left;
           animation-timing-function: ease-in-out; } 
    100% { transform: translateY(700px);
           opacity: 0; }
}


//////////////////// Webkits ////////////////////
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 0.88em white inset;
}